#collapse-item {
    color: white;
}
#collapse-item:hover {
    background: #FFCC00;
    color: black;
}

#profileImg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #90B3C9;
    float: right;
    margin-top: -60px;
}

#resImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #90B3C9;
    float: right;
}

@media (max-width: 479px) {
    #profileImg {
        margin-top: -80px;
    }
}
